.demoScroll {
  overflow-y: auto;
}
.divscroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.divscroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.divscroll::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}